.signUp{
    display: flex;
    height: 90vh;
    width : 100vw;
    justify-content: center;

}
/* .ProfileName{
    display: flex;
    padding: 12px;
} */
.signUp_in{
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    flex-direction:  column;
    border : 1px solid lightgray;
    border-radius:  10px;
    margin-top : 10px;
    height: 100%;
}  
.ProfileName{
    display: flex;
    font-weight: bold;
    color: rgb(35, 13, 133);
    padding: 8px;
}
.ProfileName>div{
    color: black;
    padding-right: 8px;
}
@media(max-width : 500px){
    .signUp_in{
        margin-top : 0
    }
}

.upload_photo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_div{
    display:  flex;
    max-width : 400px;
    width: 100%;
    border-radius: 4px;
    align-items:  center;
    justify-content:  center;
}
.uploaded_image{
    display:  flex;
    max-width : 400px;
    width: 95%;
    object-fit: contain;
    border-radius: 4px; 
}
.gender_div{
    display: flex;
    width: 90%;
    justify-content:  space-between;
    align-items: center;
    margin-top : 20px;
    margin-bottom: 20px;
    padding-left: 12px;
}
.gender_buttons{
   padding-left: 30px;
}
.gender_buttons>button{
  width : 80px;
  margin-right : 20px;
  padding-top : 7px;
  padding-bottom: 7px;
  background-color: white;
  border-radius: 20px;
  border : 1px solid lightgray;
}

.gender_buttons>button:hover{
    cursor : pointer;
  }
  

.user_info{
    display : flex;
    flex-direction: column;
    align-items: center;
    width:  100%;
    max-width: 400px;
    /* background-color: lightgray; */
    padding-bottom: 20px;
}

.user_info>input{
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        border: 1px solid gray;
        padding: 10px;
        width: 90%;
        max-width: 400px;
        outline: 0;
        margin-top: 20px;
}
@media(max-width: 500px){
   .uploaded_image{
       width : 300px;
       height : 250px;
       border-radius: 10px;
   }
   .signUp_in{
    background-color: rgb(235, 231, 231);
}   
}

